body {
    background-color: #efefef;
    background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1580553847574&di=9d3dc9346f68bc5ba079d1a06306ee1c&imgtype=0&src=http%3A%2F%2Fhiphotos.baidu.com%2Ffeed%2Fpic%2Fitem%2F14ce36d3d539b600a2ea8d63e550352ac65cb73a.jpg');
    background-size: 100% 100%;
}

.main {
    background-color: white;
    margin: 30px;
}

.side {
    margin: 5px 0;
}

.top-header {
    padding-left: 20px;
}

.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.question-title {
    margin-top: 25px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.question-wechat {
    width: 95%;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #666;;
    padding: 0 0 15px 0;
}

.red {
    color: red !important;
}

.row{

    background-image: url('https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3770950532,1782857194&fm=26&gp=0.jpg');
    background-size: 100% 100%;

}

#question-view{
    background-color: inherit;
}
