<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>小杰社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">

</head>
<body>
<div th:insert="navigation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--头标题-->
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
            <!--分割线-->
            <hr/>
            <div class="media" th:each="quesion : ${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${quesion.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${quesion.id}}" th:text="${quesion.title}"></a>
                    </h4>
                   <!-- <span th:text="${quesion.description}"></span></br>-->
                    <span class="text-desc">
                        • <span th:text="${quesion.commentCount}"></span> 个回复
                        • <span th:text="${quesion.viewCount}"></span> 次浏览
                        • <span th:text="${#dates.format(quesion.gmtCreate,'yyyy年-MM月-dd日')}"></span>
                    </span>

                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination" th:if="${search!=null}">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(currentPage=1,search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(currentPage=${pagination.currentPage}-1,search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.currentPage==page}?'active':''">
                        <a th:href="@{/(currentPage=${page},search=${search})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(currentPage=${pagination.currentPage}+1,search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(currentPage=${pagination.totalPage},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <ul class="pagination" th:if="${search==null}">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(currentPage=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(currentPage=${pagination.currentPage}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.currentPage==page}?'active':''">
                        <a th:href="@{/(currentPage=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(currentPage=${pagination.currentPage}+1)}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(currentPage=${pagination.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div><div>
                    <!--公众号-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
                        <h4>CDSN</h4>
                        <img class="img-thumbnail question-wechat" src="/images/qr_wechat.png">
                    </div>
                </div></div>

                <div><div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
                        <h4>码匠笔记</h4>
                        <img class="img-thumbnail question-wechat" src="/images/official-account.png">
                    </div>

                </div></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
<script src="js/jquery-min.js"></script>
<script src="js/bootstrap.js" type="application/javascript"></script>

<script type="application/javascript">
    //html页面debug方法 debugger;
    //页面加载的方法
    window.onload=function () {
        //获取localStorage
        var closeable = localStorage.getItem("closeable");
        //如果需要关闭则关闭当前页
        if (closeable=="true"){
            window.close();
            window.localStorage.removeItem("closeable");
        }
    }
</script>

</html>