<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>小杰社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-min.js"></script>
    <script src="js/bootstrap.js" type="application/javascript"></script>


</head>
<body>
<div th:insert="navigation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--头标题-->
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
            <!--分割线-->
            <hr/>
            <div class="media" th:each="quesion : ${pagination.quesionDtoList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${quesion.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${quesion.title}"></h4>
                    <span th:text="${quesion.description}"></span></br>
                    <span class="text-desc">
                        • <span th:text="${quesion.commentCount}"></span> 个回复
                        • <span th:text="${quesion.viewCount}"></span> 次浏览
                        • <span th:text="${#dates.format(quesion.gmtCreate,'yyyy年-MM月-dd日')}"></span>
                    </span>

                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?currentPage=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(currentPage=${pagination.currentPage}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.currentPage==page}?'active':''">
                        <a th:href="@{/(currentPage=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(currentPage=${pagination.currentPage}+1)}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(currentPage=${pagination.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2>热门话题</h2>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字<br>

            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br>

            <p>服务器运行环境信息；</p>
            <p>软件版本；</p>
            <p>问题发生的上下文信息；</p>
            <p>可以完整复现问题的代码（如可直接运行于 Kibana Console 的复现流程）；</p>
            <p>补充完整的异常和错误信息；</p>
            <p>注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；</p>
            • 选择标签: 选择一个或者多个合适的标签，每个标签不超过10个字<br>

            • 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.<br>

        </div>
    </div>
</div>
</body>
</html>