<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--Head-->
<head>
    <meta charset="utf-8"/>
    <title>小杰社区</title>

    <meta name="description" content="register page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!--Basic Styles-->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link id="bootstrap-rtl-link" href="" rel="stylesheet"/>
    <link href="../../assets/css/font-awesome.min.css" rel="stylesheet"/>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link rel="stylesheet" href="../../assets/css/beyond.min.css">
    <link href="../../assets/css/demo.min.css" rel="stylesheet"/>
    <link href="../../assets/css/animate.min.css" rel="stylesheet"/>
    <link id="skin-link" href="" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../css/bootstrap-fileinput.css">
    <style>
        body {
            background-image: url("/images/bg1.jpg");
        }
    </style>

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="../../assets/js/skins.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>
<div class="register-container animated fadeInDown">
    <div class="registerbox bg-white">
        <div class="registerbox-title">注册</div>

        <div class="registerbox-caption "></div>
        <div class="registerbox-textbox">
            <input id="username" type="text" class="form-control" placeholder="账号"/>
        </div>
        <div class="registerbox-textbox">
            <input id="password" type="password" class="form-control" placeholder="密码"/>
        </div>
        <div class="registerbox-textbox">
            <input id="token" type="password" class="form-control" placeholder="确认密码"/>
        </div>
        <div class="registerbox-textbox">
            <input id="name" type="text" class="form-control" placeholder="用户名"/>
        </div>
        <div class="registerbox-textbox">
            <label class="control-label">性别：</label>
            <label class="radio-inline">
                <input type="radio" name="sex" value="0" checked>男
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" value="1">女
            </label>
        </div>

        <!--上传头像-->
        <div class="registerbox-textbox">
            <div class="fileinput fileinput-new" data-provides="fileinput" id="uploadImageDiv">
                <div class="fileinput-new thumbnail" style="width: 50px; height: 50px;">
                    <img src="${companyInfo.image}" alt="" />
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
            <span class="btn default btn-file">
            <span class="fileinput-new">选择图片</span>
            <span class="fileinput-exists">更改</span>
            <input type="file" name="uploadImage" id="uploadImage" />
            </span>
                    <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">移除</a>
                    <span>请选择1M以内图片</span>
                </div>
            </div>
        </div>
        <div class="registerbox-submit">
            <input type="button" class="btn btn-primary pull-right" value="注册">
        </div>
    </div>
</div>

<script src="../../js/bootstrap-fileinput.js"></script>
<script src="../../assets/js/jquery-2.0.3.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/beyond.min.js"></script>
<script>
    var url = '';
    $("#uploadImage").fileupload({
        url : ROOT + "/security/company/uploadFile",
        dataType : 'json',
        autoUpload : false,
        acceptFileTypes : /(gif|jpe?g|png)$/i,
        maxFileSize : 1000000, // 1 MB
        imageMaxWidth : 100,
        imageMaxHeight : 100,
        messages : {
            acceptFileTypes : '文件类型不匹配',
            maxFileSize : '文件过大',
            minFileSize : '文件过小'
        }
    }).on("fileuploadadd", function(e, data) {
        // 当文件添加上去时候调用
        $("#titleImageError").html("");
        data.submit()
    }).on("fileuploaddone", function(e, data) {
        // 上传完成时调用
        if (data.result.returnState == "ERROR") {
            alert("上传失败")
            return;
        }
        url = data.result.returnData.url;
    });

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-52103994-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
<!--Body Ends-->
</html>
